.heading-container.light {
  background-color: #f0f0f0;
  color: #000;
}

.heading-container.dark {
  background-color: #333;
  color: #fff;
}

.reminder-text.light,
.heading-text.light {
  color: #000;
}

.reminder-text.dark,
.heading-text.dark {
  color: #fff;
}

.reminder-count {
  font-weight: bold;
  cursor: pointer;
}
